@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  body {
    background-color: #020617;
    /* navy-950 */
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    background-color: rgba(27, 166, 87, 0.3);
    /* emerald/30 */
    color: white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #020617;
    /* navy-950 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    /* white/10 */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(27, 166, 87, 0.5);
    /* emerald/50 */
  }
}

.glass {
  background-color: rgba(17, 22, 51, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-gradient {
  background: linear-gradient(to right, #1BA657, #162C99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glow-green {
  box-shadow: 0 0 20px rgba(27, 166, 87, 0.2);
}